.botao{
  width: 5.62rem;
  height: 5.62rem;
  position: fixed;
  right: 1rem;
  bottom: 4.4rem;
  background-image: url('../assets/botao_flutuante.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9999;
}


.botao__overlay{
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.container__botao:checked ~ .botao__overlay {
  display: block;
}


/* para não mostrar a checkbox */

.container__botao{
  display: none;
}  

/*opçoes botao clicado*/

.botao__opcoes__link{
  display: flex;
  align-items: center; 
}

.botao__opcoes__texto{
  font-size: 0.75rem;
  color: var(--title-color);
  background-color: white;
  border-radius: 2.3rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
}

.botao__opcoes__link{
  text-decoration: none;
}

.botao__opcoes{
  position: absolute; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 1rem;
  bottom: 9.4rem;
}