
.rodape{
    padding: 2rem;
}


.rodape__fixo{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: white;
    filter: drop-shadow(0 -1px 3px #46464625);
    border-radius: 12px 12px 0 0;
    padding-top: 1rem;

    width: 100%;
}

